
[Container]
ContainerName=website-server
Image=ghcr.io/zenmo/zenmo-website-server:$TAG

Network=main.network
Label=traefik.enable=true
Label=traefik.http.routers.website-server.rule=Host(`site-backend.zenmo.com`)
Label=traefik.http.routers.website-server.tls.certResolver=DNSimpleChallenge
Label=traefik.http.routers.website-server.tls.domains[0].main=*.zenmo.com
Label=traefik.http.services.website-server.loadbalancer.server.port=9000

EnvironmentFile=site-backend.env
Secret=CONTACTFORMULIER_AZURE_SMTP_PASSWORD,type=env,target=AZURE_SMTP_PASSWORD
Secret=WEBSITE_CLIENT_SECRET,type=env,target=CLIENT_SECRET

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
