
[Container]
ContainerName=website-static-$ENVIRONMENT
Image=ghcr.io/zenmo/zenmo-website-static:$TAG

Network=main.network
Label=traefik.enable=true
Label=traefik.http.routers.website-static-$ENVIRONMENT.priority=$TRAEFIK_PRIORITY
Label="traefik.http.routers.website-static-$ENVIRONMENT.rule=Host(`$ZENMO_DOMAIN`) || Host(`$LUX_DOMAIN`) || HostRegexp(`$LUX_HOST_REGEXP`)"
Label=traefik.http.routers.website-static-$ENVIRONMENT.tls.certResolver=DNSimpleChallenge
Label=traefik.http.routers.website-static-$ENVIRONMENT.tls.domains[0].main=$ZENMO_DOMAIN
Label=traefik.http.routers.website-static-$ENVIRONMENT.tls.domains[0].sans=*.$ZENMO_DOMAIN,*.$LUX_DOMAIN,$LUX_DOMAIN

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
